<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAOProject.Setting201611" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAOProject.Setting201611>
            <setting name="N_扩展属性" serializeAs="String">
                <value>资产注册/检索机制; 扩展属性的获取/保存; 
PaoApplication作为资产树的根，增加ObjectIDFactory用于通过资产ID查找对象；
事务报告时应该对资产进行快照；
扩展属性服务;
PaoApplication作为资产树的根，增加ObjectIDFactory用于通过资产ID查找对象；事务报告时应该对资产进行快照；</value>
            </setting>
            <setting name="N_服务" serializeAs="String">
                <value>服务机制; 后台数据库; 服务和数据库的交互; 通用数据服务; IIS中服务的承载</value>
            </setting>
            <setting name="N_事务" serializeAs="String">
                <value>事物机制; 事务服务; 分布式事务;</value>
            </setting>
            <setting name="N_资产状态" serializeAs="String">
                <value>可监控资产与资产注册的关系; 如何监控; 服务状态的定义; 服务状态的监控; 第三方服务状态的监控; WCF工厂的状态;</value>
            </setting>
            <setting name="N_事务和日志分开" serializeAs="String">
                <value>事务保存在数据库，树形结构；日志保存在日志记录中，流水结构；</value>
            </setting>
            <setting name="N_日志上传" serializeAs="String">
                <value>增加日志上传服务; 客户端定期上传日志;</value>
            </setting>
            <setting name="N_反向访问" serializeAs="String">
                <value>增加一个机制用于反向访问服务</value>
            </setting>
            <setting name="N_ORM" serializeAs="String">
                <value>服务接口参数 vs 数据表字段 vs 内存对象</value>
            </setting>
            <setting name="N_ClientID" serializeAs="String">
                <value>每个客户端有一个固定的客户端ID</value>
            </setting>
        </PAOProject.Setting201611>
    </userSettings>
</configuration>