<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49893/TestService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="TestService.ITestService"
                name="BasicHttpBinding_ITestService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MainTest.Properties.Settings>
            <setting name="ConfigStart" serializeAs="String">
                <value>False</value>
            </setting>
        </MainTest.Properties.Settings>
    </userSettings>
</configuration>
