<z:anyType i:type="a:object" xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:a="PAO.App.PaoApplication"><ID>02fb5415-5685-4377-9aa1-3b26ad930048</ID><LoggerList/><ServerList/><ServiceList xmlns:b="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><b:KeyValueOfstringRefOfanyTypeLjh4bohd><b:Key>TestService</b:Key><b:Value i:type="c:object" xmlns:c="PAO.ObjectRef`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"><ID>b71b5995-308b-454f-b561-d7278008f8fd</ID><Reference i:type="d:object" xmlns:d="TestLibrary.TestService"/></b:Value></b:KeyValueOfstringRefOfanyTypeLjh4bohd></ServiceList></z:anyType>