<z:anyType i:type="a:object" xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:a="PAO.App.PaoApplication"><ID>e1addbf7-b016-4e65-af88-be9176f2ab98</ID><LoggerList/><ServerList/><ServiceList xmlns:b="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><b:KeyValueOfstringRefOfanyTypeLjh4bohd><b:Key>TestService</b:Key><b:Value i:type="c:object" xmlns:c="PAO.ObjectRef`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"><ID>35434813-1d0d-48c7-8dba-8bb81f092e21</ID><Reference i:type="d:object" xmlns:d="TestLibrary.TestService"/></b:Value></b:KeyValueOfstringRefOfanyTypeLjh4bohd></ServiceList></z:anyType>